
/************GENERAL************/
* {
 box-sizing: border-box;
}

html {
font-size:62.5%; 	
 }

body{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.6rem;
}


a {
text-decoration: none;
font-size: 1.6rem;
}

.btn {
	display: inline-block;
	background: #F5A623;
	padding: 12px 24px;
	color: #fff;
	text-transform: uppercase;
	border: 0;
	transition: background .3s;
	border-radius: 50px;
}

.container {
	max-width: 900px;
	margin: 0 auto ;
	padding: 0 15px;
}


.clearfix::after {
	content: "";
  display: table;
  clear: both;
}



.active {
background: #B9D1D8;
border-radius: 7px;

}


img {
	width: 100%
}

.title {
	font-size: 2.2rem;	
}

main {
	 min-height: calc (100vh - 379.8px -1190px);
}


/************HEADER************/

header {
	background-color: #9fc1ca;
	text-align: center;
	top: 0;
	width: 100%;
  z-index: 1;
}

header img {
  width: 120px;

}

header .logo-container {
	margin-bottom: 0;
}
/**********  NAVIGATION **********/

nav {
	background-color:#77b4c0 ;
}

nav ul {
	background-color:  #77b4c0;
	border: solid #0C1713;
	list-style-type: none;
}

nav li  { 
	display: inline-block;
}

nav li a {
	color: #0C1713;
	display:inline-block;
	padding: 20px 10px ;
	text-decoration: none;
	text-transform: uppercase;
}

#hero {
	padding-top: 70px;
	position: relative;
}

#hero .hero-caption {
	text-align: center;
	padding: 140px 20px;
}




/**********  GALLERY *********/


#gallery {
	display: flex;
	flex-wrap: wrap;
	padding-top: 15px;
	padding-bottom: 15px;
}

#gallery img {
	
	height: 300px;
} 

#gallery .item {
	position: relative;
	flex: 0 1 50%;
	padding: 15px;
	width: 50%;
}


#gallery .caption {
	background:#B9D1D8;
	padding: 10px;
}

#gallery .caption p{
	margin: 0;
}

#gallery .picture {
	line-height: 0;
}


#gallery .caption img {
	position: absolute;
	top: 0;
	right:0;
	width: 30px;
	height: 30px;
}

/**********ABOUT***********/

#about img {
	border-radius:  60%;
	padding: 10px 0;
}




/**********CONTACT*********************/



#contact ul {
list-style-type: none;
padding: 0;
}

#contact li {
	padding: 5px 0;

}


#contact .material-icons {
	float:left;

}

#contact .contacts a {
	margin: 3px 0 0 5px;
	display: inline-block;
	color: black;
}

/**********FOOTER*****************/

footer .main {
 	text-align: :center;
	padding: 15px;
}

footer .main img {
	width: 24px;

}

 footer .main a {
 	display: inline-block;
 	padding: 5px 10px;

 }

footer .main p {
	font-size: 1.2rem;
}


/** con width: 100% ho dato la stessa dimensione alle immagini *********/


@media only screen and  ( min-width: 768px){
/**********  GALLERY *********/

#gallery .item {
flex: 0 1 33.3333%;
}

/**********  ABOUT *********/


#about img {
	width: 70%;
}

#about .profile-pic {
	float: left ;
	width: 50%;
	padding: 15px;
	text-align: center; 
}

#about .description {
	float: right ;
	width: 50%;
	padding: 30px 15px 15px;
	text-align: justify;
}

/**********CONTACTs***********/

#contact .info, #contact .contacts {
	padding: 20px;
}

#contact .info {
	float: left ;
	width: 60%;

}

#contact .contacts {
	float: right;
	width: 40%;
}
}


@media only screen and (min-width: 992px){
	
	/**********  HEADER *********/
header {
	display: flex;
	justify-content: space-around;
	align-items: center;

}


nav  {
	background:#9fc1ca;
}

nav li a{
	transition: background .3s;
}

nav li a:hover, nav li a .active{
	background: #B9D1D8;
	border-radius: 7px;
}

nav ul {
	background-color:#9fc1ca ;
	border: none;
	list-style-type: none;
}

#gallery .item{
transition: opacity: .3s;
}

#gallery .item:hover{
opacity: .7;
}

}

@media only screen and  (max-width: 767px){

	/**********  GALLERY *********/

#gallery  .item:nth-child(2n + 1){
	clear: left;
}

}



